.GameStart {
  .gameRules {
    max-width: clamp(300px, 90vw, 500px);
    h1 {
      // text-align: center;
      font-size: 40px;
    }
    ul {
      padding-bottom: 50px;
      text-align: center;
      list-style: none;
      li {
        font-weight: bold;
      }
    }
  }
  .imageButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  p {
    text-align: center;
    font-size: 14px;
    color: yellow;
  }
}
