.Home {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  header {
    align-self: center;
    h1 {
      font-size: 60px;
      text-align: center;
    }
  }
  .gameStatusBar {
    padding-top: 10px;

    display: flex;
    gap: 10px;
    justify-content: center;
    .chip {
      width: fit-content;
      background-color: black;
      color: white;
      font-weight: bold;
      font-size: 19px;
      .trophy {
        color: yellow;
      }
      .flag {
        color: green;
      }
    }
  }
}
