@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "./home";
@import "./cardsContainer";
@import "./countryCard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", cursive;
}
html {
  background-color: #2f74c0;
}
